* {
  box-sizing: border-box;
}

#header a {
  color: white;
}

nav a {
  color: rgb(15, 4, 91);
}

#display {
  display: flex;
  height: 100vh;
}

main {
  flex-grow: 1;
  padding: 20px;
  padding-top: 0;
  overflow-y: auto;
  margin-top: 70px;
}

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(74, 71, 71, 0.529);
  padding: 20px;
  padding-top: 80px;
  width: 250px;
  height: 100vh;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin-top: 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover {
  color: rgb(207, 202, 202);
}

#accord {
  width: 80%;
  margin-top: 50px;
  margin-right: 0;
  margin-left: 20px;
}

#card {
  margin-top: 5px;
  margin-bottom: 5px;
}

#profile a:hover {
  color: rgb(133, 120, 120);
}

#profile {
  float: left;
}

#login button:hover {
  color: white;
}

#login {
  float: right;
  margin-top: 17px;
}


#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  background-color: rgb(15, 4, 91);
  width: 100%;
  z-index: 1;
}

#menuIcon {
  font-size: 64px;
  margin-top: 12px;
  margin-left: 10px;
  color: white;
}

#menuIcon:hover {
  cursor: pointer;
  color: rgb(133, 120, 120);
}

#loginForm {
  display: flex;
  justify-content: center;
}

#loginForm ul{
  list-style: none;
}

#profileForm ul{
  list-style: none;
}

#aDelete:hover {
  color: black;
  cursor: pointer;
}

#aText:hover {
  color: rgb(123, 135, 228)
}

#aText {
  text-decoration: none;
  color: black;
  padding: 35px 80px 35px 1px;
}